* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(112deg, rgba(19,21,20,1) 76%, rgb(140, 2, 2) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: rgba(21, 3, 3, 0);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #f0dada;

  }
  
  h1, h2 {
    text-align: center;
    color: antiquewhite;
  }
  
  .review-form {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f80303;
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf4f9b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4545a0a0;
  }
  
  #reviews-list {
    margin-top: 20px;
  }
  
  .review-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .review-item p {
    font-size: 16px;
    color: #0b1278;
  }
  .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .star.selected {
    color: gold;
  }